/* Reset some default styles */
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

.custom-container {
    max-width: 900px;
    margin-top: 10px;
    padding: 20px;
}

.book-detail {
    background-color: #fff;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.book-detail:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.book-info {
    display: flex;
    align-items: center;
}

.book-info img {
    max-width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
}

.details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.details p {
    color: #555;
    margin-bottom: 5px;
}

.details p:last-child {
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

.read-btn {
    background-color: #e74c3c; /* Red color */
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-btn:hover {
    background-color: #c0392b; /* Darker red on hover */
}

.discussion {
    margin-top: 30px;
}

.discussion h2 {
    font-size: 20px;
    margin-bottom: 20px;
    position: relative;
}

.discussion h2:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #3498db;
}

.comments .comment {
    margin-bottom: 15px;
    position: relative;
    padding-left: 20px;
}

.comment p {
    margin: 5px 0;
}

.comment p:first-child {
    font-weight: bold;
}

.comment p:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3498db;
}

.comment-form {
    margin-top: 20px;
}

.comment-form h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.comment-form form {
    display: grid;
    gap: 10px;
}

.comment-form label {
    color: #555;
}

.comment-form input,
.comment-form textarea,
.comment-form button {
    padding: 10px;
    border: 1px solid #ddd;
}

.comment-form button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-form button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}





