/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.profile-container {
    display: flex;
}

/* Sidebar Styles */
.sidebar {
    width: 300px;
    background-color: #292b2c;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #fff;
}

.user-details {
    text-align: center;
}

.user-details h2 {
    margin: 10px 0;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

.sidebar-menu li {
    margin-bottom: 15px;
}

.sidebar-menu a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: color 0.3s;
}

.sidebar-menu a:hover {
    color: #d9534f;
}

.sidebar-menu i {
    margin-right: 10px;
}

/* Main Content Styles */
.main-content {
    flex: 1;
    padding: 20px;
}

.profile-header h1 {
    color: #292b2c;
    margin-bottom: 20px;
}

/* Book Section Styles */
.book-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.book-shelf {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-shelf h2 {
    color: #292b2c;
    border-bottom: 2px solid #d9534f;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Statistics Section Styles */
.statistics-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #292b2c;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .profile-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
}


