
    <!-- Book Cards Section -->
<section class="book-cards">
    <div class="container">
        <div class="row">

            <!-- Book Card 1 -->
            <div class="col-lg-3 col-md-6">
                <div class="book-card">
                        <div class="book-image">
                            <img src="assets/images/book1.jpg" alt="Book Cover">
                            <div class="overlay"></div>
                            <div class="book-details">
                                <h3>BLANK</h3>
                                <p>A novel about life and death, politics and religion, hate and love.</p>
                                <a href="#book-detail?book=book1" class="btn-read-more">Read More</a>
                            </div>
                        </div>
                </div>
            </div>

            <!-- Book Card 2 -->
            <div class="col-lg-3 col-md-6">
                <div class="book-card">
                    <div class="book-image">
                        <img src="assets/images/book2.jpg" alt="Book Cover">
                        <div class="overlay"></div>
                        <div class="book-details">
                            <h3>KRALJEVI I KRALJICE BOSNE</h3>
                            <p>The author's views of some of the main characters of the medieval Bosnian past are offered.</p>
                            <a href="#book-detail?book=book2" class="btn-read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Book Card 3 -->
            <div class="col-lg-3 col-md-6">
                <div class="book-card">
                    <div class="book-image">
                        <img src="assets/images/book3.jpg" alt="Book Cover">
                        <div class="overlay"></div>
                        <div class="book-details">
                            <h3>ARSEN - COVJEK KAO ON</h3>
                            <p>A man like him is a portrait of the great Arsen Dedić's work of art.</p>
                            <a href="#book-detail?book=book3" class="btn-read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Book Card 4 -->
            <div class="col-lg-3 col-md-6">
                <div class="book-card">
                    <div class="book-image">
                        <img src="assets/images/book6.jpg" alt="Book Cover">
                        <div class="overlay"></div>
                        <div class="book-details">
                            <h3>NARANDZA S TREBEVICA</h3>
                            <p>"Orange from Trebević" is based on the author's diary entries during the four-year siege of Sarajevo</p>
                            <a href="#book-detail?book=book4" class="btn-read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

             <!-- Book Card 5 -->
             <div class="col-lg-3 col-md-6">
                <div class="book-card">
                    <div class="book-image">
                        <img src="assets/images/book7.jpg" alt="Book Cover">
                        <div class="overlay"></div>
                        <div class="book-details">
                            <h3>SARAJEVO</h3>
                            <p>Description of the book goes here. This is a sample text for the book.</p>
                            <a href="#book-detail?book=book5" class="btn-read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

             <!-- Book Card 6 -->
             <div class="col-lg-3 col-md-6">
                <div class="book-card">
                    <div class="book-image">
                        <img src="assets/images/book9.jpg" alt="Book Cover">
                        <div class="overlay"></div>
                        <div class="book-details">
                            <h3>PUTOVANJA U TISINU</h3>
                            <p>The book is intended for parents, educators and teachers.</p>
                            <a href="#book-detail?book=book6" class="btn-read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

