
<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h1 class="h1-large">Join BookTalk! <span class="replace-me">Connect, Share, Explore the World of Books</span></h1>
                    <p class="p-large">Embark on a Literary Journey with BookTalk: Connect, Share, and Explore the World of Books!</p>
                    <a class="btn-solid-lg" href="#signup">Sign up for free</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/homepage.png" alt="Books">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->

<!-- Invitation -->
<div class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>“Books are the plane, and the train, and the road. They are the destination, and the journey. They are home.” ― Anna Quindlen</h4>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of invitation -->

<section class="most-popular-books">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>MOST POPULAR BOOKS</h2>
            </div>
        </div>
    </div>
</section>

<!-- Book Cards Section -->
<section class="book-cards">
    <div class="container">
        <div class="row">
            <!-- Book Card 1 -->
            <div class="col-lg-3 col-md-6">
                <div class="book-card">
                        <div class="book-image">
                            <img src="assets/images/book1.jpg" alt="Book Cover">
                            <div class="overlay"></div>
                            <div class="book-details">
                                <h3>BLANK</h3>
                                <p>A novel about life and death, politics and religion, hate and love.</p>
                                <a href="#book-detail/book1" class="btn-read-more">Read More</a>

                            </div>
                        </div>
                </div>
            </div>
 <!-- Book Card 2 -->
 <div class="col-lg-3 col-md-6">
    <div class="book-card">
        <div class="book-image">
            <img src="assets/images/book2.jpg" alt="Book Cover">
            <div class="overlay"></div>
            <div class="book-details">
                <h3>KRALJEVI I KRALJICE BOSNE</h3>
                <p>The author's views of some of the main characters of the medieval Bosnian past are offered.</p>
                <a href="#book-detail?book=book2" class="btn-read-more">Read More</a>

            </div>
        </div>
    </div>
</div>

<!-- Book Card 3 -->
<div class="col-lg-3 col-md-6">
    <div class="book-card">
        <div class="book-image">
            <img src="assets/images/book3.jpg" alt="Book Cover">
            <div class="overlay"></div>
            <div class="book-details">
                <h3>ARSEN - COVJEK KAO ON</h3>
                <p>A man like him is a portrait of the great Arsen Dedić's work of art.</p>
                <a href="#book-detail?book=book3" class="btn-read-more">Read More</a>
            </div>
        </div>
    </div>
</div>        </div>
    </div>
</section>
